{% extends 'base.html.twig' %}

{% block title %}{{ editando ? 'Editar Nota' : 'Nueva Nota' }}{% endblock %}

{% block content %}
  <h1 class="mb-4 text-center">{{ editando ? 'Editar Nota' : 'Nueva Nota' }}</h1>

  {{ form_start(form, { 'attr': { 'class': 'p-4 p-md-5 border rounded-3 bg-body-tertiary w-50 mx-auto', 'style': 'margin: 0 auto;' } }) }}
    {{ form_row(form.titulo) }}
    {{ form_row(form.contenido, { 'attr': { 'rows': 5 } }) }}
    <button class="btn btn-primary">{{ editando ? 'Actualizar' : 'Crear' }}</button>
  {{ form_end(form) }}

  <div class="mt-4 text-center">
    <a class="btn btn-outline-primary" href="{{ path('app_nota') }}"><i class="fa-solid fa-arrow-left"></i> Volver a la lista</a>
  </div>
{% endblock %}
